@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";
@import "tailwind-animations";
@plugin "@tailwindcss/typography";

@theme {
  --color-dark: #0d1321;
  --color-navy: #1d2d44;
  --color-steel: #3e5c76;
  --color-mist: #748cab;
  --color-cream: #f0ebd8;
  --color-back: #b8cad8;
}

@theme {
  --font-inter: "Inter", sans-serif;
}

@layer components {
  .container-cmaq {
    @apply mx-auto max-w-7xl px-6;
  }

  .nav-scrolled {
    @apply md:bg-navy;
  }

  nav {
    @apply bg-navy md:bg-navy/40;
  }

  .heroImg {
    background-image: url("../img/CMAQ-Hero.png");
  }

  .conImg {
    background-image: url("../img/PFV-SANJOSE-BG.jpeg");
  }
}

.swiper-button-next .swiper-navigation-icon,
.swiper-button-prev .swiper-navigation-icon {
  display: none;
}
